# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment files
.env
.env.*

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Local static/media
app/static/uploads/

kixie-recorder-deploy/credentials/
kixie-recorder-deploy/config.ini
config.ini
*.json
