fastapi>=0.100.0,<0.120.0
uvicorn>=0.20.0
httpx
jinja2>=3.0.0,<4.0.0
starlette>=0.20.0,<0.40.0
python-dotenv
pydantic>=2.0.0
python-multipart
aiofiles
firebase-admin
pydantic-settings
openpyxl
pandas
fuzzywuzzy
python-Levenshtein
